/* the universal selector */
* {
    font-family: monospace;
}

/* element selector the inheritance help  */
body {
    /* font-size: 22px; */
    line-height: 1.5;
    background-color: #ffefd5;
}

/* another type of elrement selector */
/* main {

} */


p {
    color: #333;
    /* csss unit the absolute length unit we use here is pixels */
    /* font-size: 2rem; */
    /* width: 40ch; */
}

header {
    border: 2px solid red;
    width: 50%;
    /* font-size: 3rem; */
    padding: 0.5em;
}










/* selecting an element in an element
.highlight {
    text-transform: uppercase;
    background-color: gold ;
}

/* class selector they are more specific than the element selector */
/* .gray {
    color: gray;
} */

/* id attribute  its not advicable to use id selection in the css file*/
/* #second {
    font-style: italic;
} */ */
